.game {
    position: absolute;
    top: 45%;
    left: 37.5%;
    transform: rotate(45deg) translate(-25%, -25%);
    width: 350px;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;

    background-color: grey;
}

.tile {
    width: 90%;
    height: 90%;
    opacity: 0.4;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.highlight {
    opacity: 1;
}

.hidden {
    display: none;
}

